body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #333;
}

h2 {
  font-size: 50px;
  margin: 20px 0;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
